html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* page3  */

.wrapper {
   margin: 50px;
} 
.header3 {
    margin-left: 30px;
    float: left;
}
.header3 h1 {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #000000;
}
.cart {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}

.cart .fa-shopping-cart {
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}
.input {
   float: right;
   margin-right: 20%;
   border-bottom: 0.5px solid #C4C4C4;
}

input[type="text"] {
    border: none;
    outline: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}
 .input .fa-search {
    margin-left: 40px;
    margin-bottom: 12px;
    color: #000000;
    cursor: pointer;
} 
.container-3{
    width: 100%;
    height: 65vh; 
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.container-left {
    width: 20%;
    height: 46%;
    background-color: white;
    margin-left: 3%;
    margin-top: 12%;
    border-left: 0.5px solid #E7F0F2;
}
.container-left span {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #000000;
    margin-left: 15px;
}

.container-left p {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    margin-left: 15px;
}
.container-center {
    width: 60%;
    height: 75%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;   
    cursor: pointer;
} 
.container-right {
    width: 10%;
    height: 46%;
    background-color: white;
    margin-left: 20%;
    border-right: 0.5px solid #E7F0F2;
}
.container-right span {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    margin-left: 55px;
}
.container-right p {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    margin-left: 25px;
}

.kotak {
    width: 173px;
    height: 116px;
    border: 1px solid transparent;
    margin-top: 20px;
    background: rgba(231, 240, 242, 0.3);
    backdrop-filter: blur(6px);
}
.kotak h3 {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 40%;
    margin-left: 20px;
}
.kotak p {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
    margin-left: 20px;
}
.number {
    border-top: 0.5px solid #E7F0F2;
    width: 25%;
    margin-left: 35%;
}
.number .nomor {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.nomor span:first-child {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1em;
    color: #000000;
}
.nomor span {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1em;
    color: #E7F0F2;
}
.footer {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #C4C4C4;
} 